//colors
$color-white: #ffffff;
$color-black: #000000;
$color-main: #313A49;
$color-gray: #7A929B;
$color-sec-txt: rgba(#F1F3F5, .5);
$color-action: #FF4F12;
$color-txt: #f1f3f5;
$color-txt-title: #0C1424;

//fonts
$ff-base: 'RostelecomBasis', sans-serif;
$ff-mid: 'RostelecomBasis-Medium', sans-serif;
$ff-bold: 'RostelecomBasis-Bold', sans-serif;
$ff-light: 'RostelecomBasis-Light', sans-serif;

//plh
%c-wrap{
    width: 100%;
    max-width: 768px;
    padding: 0 1.25rem;
    margin: 0 auto;
}

%btn{
    font-size: 1rem;
    font-family: $ff-base;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border: none;
}